@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --header-font: "Josefin Sans";
  --primary-font: "Ubuntu";
  --black: #000;
  --white: #fff;
  --primary-color: #2563ea;
  --navy-blue: #111828;
}

/* hero */
#hero {
  height: 50vh;
  background-image: url("/images/server-room.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  margin-top: 83px;
}

.hero-content {
  font-family: var(--primary-font);
  color: white;
}

/* hero */

/* quick contact */

#quick-contact {
  padding: 80px 0 60px;
}

.quick-contact-content {
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.366);
  transition: border 0.5s;
  height: 200px;
  color: rgb(79, 78, 78);
}

.quick-contact-content p a {
  font-size: 2rem;
}

.quick-contact-content p {
  font-size: 1rem;
  font-family: var(--primary-font);
  padding-top: 5px;
}

.quick-contact-content:hover {
  border: 1px solid var(--primary-color);
}

/* quick contact */

/* contact */

#contact-form {
  padding: 80px 0;
}

.contact-form-header h4 {
  font-size: 1.2em;
  color: var(--primary-color);
  font-weight: 400;
  font-family: var(--primary-font);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.contact-form-header h2 {
  font-size: 2.8em;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--black);
  text-align: center;
  margin-bottom: 50px;
}

.image img {
  width: 90%;
  display: block;
  margin: auto;
}

.contact-btn p a {
  background-color: var(--primary-color);
  padding: 10px 40px;
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
  font-size: 1.2rem;
  font-family: var(--primary-font);
}

.contact-form input {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  margin: 10px;
}

.contact-form input:focus {
  outline: none;
}

.contact-form textarea {
  resize: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border: none;
  padding: 10px;
  width: 100%;
  margin: 10px 10px 6px;
}

.contact-form textarea:focus {
  outline: none;
}

@media screen and (max-width: 990px) {
  .contact-form-header h2 {
    font-size: 2em;
  }

  .contact-form-header h4 {
    font-size: 1.1em;
  }
}

/* contact */
