@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

:root {
  --header-font: "Josefin Sans";
  --primary-font: "Ubuntu";
  --black: #000;
  --white: #fff;
  --primary-color: #2563ea;
  --navy-blue: #111828;
}

/* coupon hero */

#coupon-hero {
  width: 100%;
  height: 70vh;
  background: url(../images/coupon-hero=bg.svg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-top: 83px;
  position: relative;
}

.coupon-hero-content h1 {
  color: var(--black);
  font-size: 2.8em;
  font-weight: 700;
  font-family: var(--header-font);
}

.coupon-hero-content h1 span {
  color: var(--primary-color);
}

.coupon-hero-content p {
  color: var(--black);
  font-size: 1em;
  font-family: var(--primary-font);
  font-weight: 500;
  margin-top: 10px;
}

.coupon-hero-btn {
  margin-top: 40px;
}

.coupon-hero-btn a {
  text-decoration: none;
  padding: 12px 30px;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 6px;
  transition: 0.5s;
}

.coupon-hero-btn a:hover {
  color: var(--white);
  background-color: #0234a1;
}

.coupon-hero-content-img {
  width: 100%;
}

.coupon-hero-content-img img {
  width: 20%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10%;
}

.coupon-offer-item {
  width: 55%;
  background: linear-gradient(180deg, #ffffff 0%, rgba(37, 99, 234, 0.11) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 30px;
  border-radius: 30px;
}

.offer-percentage {
  font-family: var(--primary-font);
  color: #4f4e4e;
}

.offer-percentage span {
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 600;
}

.coupon-offer-item .offer-name {
  width: 115px;
  height: 60px;
  transform: scale(1.2);
  background: url(../images/offer-name.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  text-align: center;
}

.coupon-offer-item .offer-name h4 {
  margin-bottom: 0;
  font-size: 1.2em;
  font-family: var(--primary-font);
  color: var(--primary-color);
  letter-spacing: 1px;
  padding-top: 6px;
  font-weight: 500;
}

.coupon-offer-item .offer-name p {
  margin-bottom: 0;
  margin-top: 0;
  color: #4f4e4e;
  font-size: 0.9em;
  font-family: var(--primary-font);
}

.coupon-offer-item2 {
  width: 55%;
  background: linear-gradient(180deg, #ffffff 0%, rgba(37, 99, 234, 0.11) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 50px;
  border-radius: 30px;
  margin-top: 100px;
}

.coupon-offer-item2 .offer-name2 {
  width: 115px;
  height: 60px;
  transform: scale(1.2);
  background: url(../images/offer-name.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  text-align: center;
}

.coupon-offer-item2 .offer-name2 h4 {
  margin-bottom: 0;
  font-size: 1.2em;
  font-family: var(--primary-font);
  color: var(--primary-color);
  letter-spacing: 1px;
  padding-top: 6px;
  font-weight: 500;
}

.coupon-offer-item2 .offer-name2 p {
  margin-bottom: 0;
  margin-top: 0;
  color: #4f4e4e;
  font-size: 0.9em;
  font-family: var(--primary-font);
}

@media screen and (max-width: 1600px) {
  .coupon-hero-content-img img {
    right: 8%;
  }
}

@media screen and (max-width: 990px) {
  .coupon-hero-content-img {
    margin-top: 80px;
  }
  .coupon-hero-content-img img {
    display: none;
  }

  .coupon-offer-item {
    width: 100%;
  }
  .coupon-offer-item2 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .coupon-hero-content h1 {
    font-size: 2.2em;
  }

  .coupon-hero-btn a {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 575px) {
  .coupon-hero-content h1 {
    font-size: 1.7em;
  }
}

/* coupon hero */

/* coupon-special */

#coupon-special {
  padding: 80px 0;
}

.coupon-special-content img {
  width: 60%;
  display: block;
  margin: auto;
}

.coupon-special-content h1 {
  font-size: 2.5em;
  color: var(--black);
  font-weight: 700;
  font-family: var(--header-font);
}

.coupon-special-content h1 span {
  color: var(--primary-color);
}

.coupon-special-btn {
  margin-top: 30px;
}

.coupon-special-btn a {
  text-decoration: none;
  color: var(--white);
  background-color: var(--primary-color);
  padding: 10px 30px;
  border-radius: 6px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1em;
  transition: 0.5s;
}

.coupon-special-btn a:hover {
  color: var(--white);
  background-color: #0234a1;
}

@media screen and (max-width: 990px) {
  .coupon-special-content img {
    display: block;
    margin: 0 auto 60px;
  }
}

@media screen and (max-width: 768px) {
  .coupon-special-content h1 {
    font-size: 2em;
  }
}

/* coupon-special */

/* offers */

#offers {
  padding: 80px 0;
}

.coupon-header h1 {
  font-size: 2.5em;
  text-align: center;
  font-family: var(--header-font);
  color: var(--black);
  font-weight: 700;
}

.offer-items {
  background-color: var(--white);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin-top: 30px;
  position: relative;
}

.offer-content {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-content h4 {
  font-size: 1em;
  font-family: var(--primary-font);
  color: var(--black);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.offer-content h3 {
  font-size: 1.4em;
  font-family: var(--primary-font);
  color: var(--black);
  margin-bottom: 0;
  font-weight: 600;
}

.offer-content h3 span {
  color: #2563ea;
}

.offer-content-discount {
  padding-left: 30px;
}

.offer-price-saving span {
  margin-bottom: 0;
  background-color: var(--primary-color);
  color: var(--white);
  padding: 5px 15px;
  border-radius: 30px;
  display: inline-block;
  font-family: var(--primary-font);
  font-weight: 500;
}

.offer-price h5 {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--black);
  font-family: var(--primary-font);
}

.offer-content-btn {
  background-color: rgba(73, 128, 245, 0.1);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.offer-content button {
  border: none;
  padding: 10px 35px;
  color: var(--white);
  background-color: var(--primary-color);
  width: 180px;
  margin: auto;
  font-size: 1em;
  font-family: var(--primary-font);
  font-weight: 500;
  border-radius: 5px;
  transition: 0.5s;
}

.offer-content button:hover {
  background-color: #0234a1;
}

.offer-content-btn p {
  margin-bottom: 0;
  font-size: 1em;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--primary-color);
}

@media screen and (max-width: 990px) {
  .offer-content {
    text-align: center;
  }

  .offer-items {
    margin-top: 70px;
  }

  .offer-price-saving {
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
  }

  .offer-content-discount {
    margin-top: 20px;
  }
}

/* offers */

/* faq */

#faq {
  padding: 40px 0 80px;
}

.faq-content img {
  width: 85%;
}

.faq-content h1 {
  font-family: var(--header-font);
  font-size: 2.5em;
  color: var(--black);
  font-weight: 700;
  margin-bottom: 30px;
}

.accordion-button {
  font-family: var(--primary-font);
  font-size: 1.1em;
  color: var(--black);
  font-weight: 700;
}

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  outline: none !important;
}

.accordion-button:not(.collapsed)::after {
  filter: brightness(0%);
}

.accordion-button:active {
  border: none !important;
}

.accordion-button:focus {
  box-shadow: none !important;
}

.accordion-item {
  border: none !important;
}

@media screen and (max-width: 990px) {
  .faq-content h1 {
    font-size: 1.8em;
    margin-top: 30px;
  }
}

/* faq */
